body {margin-left: 0; margin-right: 0; margin-bottom: 4em;}

body, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	/*margin:0;*/
	max-width: 39.6em;
	margin: 0 auto;
	padding:0;
	border-width:0;
	border: none;
	outline: none;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	-moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
	}
	
	
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
	margin: 0em 50px 0px 3.2em;
}

div.V_Ot { background-color: #ecf1e1;}

a:hover {
cursor: pointer;
color: blue;
}

hr {
background-color: black;
border: 0;
height: 1px;
width: 100%;
align: left;
margin-left: 50px;
margin-right: 50px;
margin-top: 0;
margin-bottom: 20px;
}

.title_img {
text-align: center;
font-weight: bold;
font-size: 1.4em;
margin-top: 1em;
margin-bottom: 0.4em;
text-indent: 0;
}

.line_in_green {
background-color: black;
border: 0;
height: 1px;
width: 100%;
align: left;
margin-left: 0px;
margin-right: 0px;
margin-top: 0;
margin-bottom: 0px;
}


.PODZAG_v_texte, .Zag2 {
	-epub-hyphens:none;
	color:#FF3399;
	font-family:"PT Sans", sans-serif;
	/*line-height:1.111;*/
	margin:0.1em 0 0.3em 0;
	text-align:left;
	text-indent:0;
	text-transform:uppercase;
	font-weight: bold;
	font-size: 2em;
}


.zag_Dop {
	-epub-hyphens:none;
	color:#FF3399;
	font-family:"PT Sans", sans-serif;
	/*line-height:1.111;*/
	margin:0.1em 0 0.3em 0;
	text-align:left;
	text-indent:0;
	text-transform:uppercase;
	font-weight: bold;
	font-size: 2em;
}

.page {
    position: relative;
	-moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
	padding-left: 5%;
}


table.Стандартная-таблица {
	border-color:#231f20;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Стиль-ячеек-1 {
	padding-bottom:5px;
	padding-left:9px;
	padding-right:5px;
	padding-top:3px;
}
p {
	font-family:"PT Serif", serif;
	font-size:1.067em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
	margin: 0 0 0 0;
	widows:2;
	-moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}


/*span {
	font-family:"PT Serif", serif;
	font-size:1.067em;
}

p._111 {
	color:#231f20;
	font-size:0.917em;
	line-height:1.182;
	margin: 37 0 0 0;
}*/

.FranklinGothikBookC_Italic_11-8 {font-style: italic;}

p.__2_3 {
	color:#231f20;
	line-height:1.156;
	margin: 2.7em 0 0 0;
	text-indent:0;
}
p.D_Zag {
	color:#231f20;
	font-family:"PT Sans", sans-serif;
	font-size:0.917em;
	line-height:1.227;
	margin:1em 0 0 0;
	padding:4px 2em 0 3.2em; 
	text-align:left;
	text-indent:0;
	text-transform:uppercase;
	background-color: #ece7d2;
}
p.Dok_Text {
	color:#231f20;
	font-family:"PT Sans", sans-serif;
	font-size:1em;
	line-height:1.167;
	padding:0 2em 0 3.2em; 
	text-indent:0;
	background-color: #ece7d2;
}
p.Dop_text {
	color:#231f20;
	font-size:1em;
	margin-top:1em;
	margin-left:3.2em;
	min-height: 2.5em;
	margin-bottom:15px;
	/*line-height:1.167;
	margin-right:6px;*/
	padding: 0.2em 50px 0.2em 0;
	/*orphans:1;*/
	text-indent:0;
	/*widows:1;*/
	border-top: solid black 1px;
	border-bottom: solid black 1px;
}
p.Koloncifra {
	color:#ffffff;
	font-size:0.917em;
	line-height:1.182;
	orphans:1;
	text-align:center;
	text-indent:0;
	widows:1;
}
p.Nazv_kart {
	color:#231f20;
	font-family:"PT Sans", sans-serif;
	font-size:1.083em;
	line-height:0.962;
	margin: 1em 0 0.5em 0;
	text-align: center;
	text-indent:0;
	font-weight: bold;
}

p.main_block {
	-epub-hyphens:none;
	/*background:#a62b44;
	padding: 0.5em;
	line-height:1.111;
	margin:1em 0 0 0;
	margin-left: 0.2em;
	margin-right: 0.5em;
	text-align:center;
	text-indent:0;
	display: inline-block;
	float: left;
	color: #fff;
	font-size: 2.0em;
	margin-top: -4px;
	margin-left: -50px*/
	font-style: Italic;
	display: inline-block;
	text-indent: 0;
	width: 300px;
	padding-left: 50%;
}

img._idGenPageitem-7 {margin-top: 0; margin-bottom: 0;}

p.Par {
	background:#ead1cb;
	line-height:1.156;
	padding: .5em 0 .5em 50px;
	/*margin: 1em 0 0 0;*/
	font-weight:bold;
	text-align:left;
	text-indent:0;
	text-transform:uppercase;
	margin-top: -6px;
	/*margin-left: -50px;*/
	margin-left: -14%;
	margin-right: -50px;
	-moz-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
}
p.Par_R {
	background:#ead1cb;
	padding: .5em 0 .5em 50px;
	/*margin: 1em 0 0 0;*/
	font-weight:bold;
	line-height:1.156;
	text-align:left;
	text-indent:0;
	text-transform:uppercase;
	margin-top: -6px;
	margin-left: -50px;
	margin-right: -50px;
}
p.PicNumber {
	-epub-hyphens:none;
	color:#231f20;
	font-size:0.917em;
	line-height:1.182;
	text-align:center;
	text-indent:0;
}
p.Posle_- {
	color:#231f20;
	font-size:1em;
	line-height:1.167;
	margin: 1em 0 1em 0;
	text-indent:0px;
	margin-left: 3em;
}
p.SodParag {
	color:#231f20;
	line-height:1.156;
	orphans:1;
	text-align:left;
	text-indent:0;
	widows:1;
}
p.Tabl {
	color:#231f20;
	font-family:"PT Sans", sans-serif;
	font-size:0.917em;
	line-height:1.182;
	orphans:1;
	text-align:center;
	text-indent:0;
	widows:1;
}
p.V_Ot {
	color:#231f20;
	font-size:1em;
	line-height:1.167;
	margin:0 0 0 0;
	padding: 1em 2em 5px 3.2em;
	text-indent:0;
	background-color: #ecf1e1;
}
p.Vopr_s_polos {
	color:#231f20;
	font-size:1em;
	/*line-height:1.167;
	margin-bottom:0;
	margin-left:17px;
	margin-right:6px;*/
	padding: 2em 2em 0px 3.2em;
	/*orphans:1;*/
	text-indent:0;
	/*widows:1;*/
	background-color: #ecf1e1;

}
p.Vopr_v_n {
	color:#231f20;
	font-size:1em;
	margin-top:1em;
	margin-left:3.2em;
	min-height: 2.5em;
	margin-bottom:15px;
	/*line-height:1.167;
	margin-right:6px;*/
	padding: 0.2em 50px 0.2em 0;
	/*orphans:1;*/
	text-indent:0;
	/*widows:1;*/
	border-top: solid black 1px;
	border-bottom: solid black 1px;
}

.DATA_kursiv_PODPIS {font-style: italic; text-align: right; margin-bottom: 40px;}

p.PODRIS_PODPIS, p.Podpis {
	color: #000000;
	font-family: "PT Sans", sans-serif;
	font-size: 0.983em;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.169;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	orphans: 2;
	page-break-after: auto;
	page-break-before: auto;
	text-align: center;
	text-decoration: none;
	text-indent: 0;
	text-transform: none;
	widows: 2;
	margin-bottom: 20px;
	clear: both;
}

p.podpis {
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 0.983em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.169;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 2;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 2;
	}

._idGenObjectLayout-1 {margin-bottom: 0em;}


p.podpisi_1 {
	-epub-hyphens:none;
	color:#231f20;
	font-size:0.917em;
	line-height:1.182;
	padding:10px 10px 10px 10px;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	text-align:center;
	text-indent:0;
	widows:1;
}
p.podpisi_n {
	-epub-hyphens:none;
	color:#231f20;
	font-size:0.917em;
	line-height:1.182;
	padding:10px 10px 10px 10px;
	text-align:center;
	text-indent:0;
}
p.podpisi_sboky {
	-epub-hyphens:none;
	color:#231f20;
	font-size:0.917em;
	line-height:1.182;
	padding:10px 10px 10px 10px;
	text-align:center;
	text-indent:0;
}
p.podpisi_v {
	-epub-hyphens:none;
	color:#231f20;
	font-size:0.917em;
	line-height:1.182;
	padding:10px 10px 10px 10px;
	text-align:center;
	text-indent:0;
}
p.podpisi_vopr_niz {
	color:#231f20;
	font-family:"PT Sans", sans-serif;
	font-size:1em;
	line-height:1.19;
	padding:10px 10px 10px 0px;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	text-indent:0;
}
p.podpisi_vopros_bez {
	color:#231f20;
	font-family:"PT Sans", sans-serif;
	font-size:0.917em;
	line-height:1.136;
	padding:10px 10px 10px 0px;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	text-indent:0;
}
p.razdel {
	-epub-hyphens:none;
	color:#FF3399;
	font-family:"PT Sans", sans-serif;
	/*line-height:1.111;*/
	margin:0.1em 0 0.5em 0;
	text-align:left;
	text-indent:0;
	text-transform:uppercase;
	font-weight: bold;
	font-size: 2.5em;
	-moz-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
}
p.svitok_vopr_verh {
	color:#231f20;
	font-family:"PT Sans", sans-serif;
	font-size:1em;
	line-height:1.167;
	padding: 1em 2em 50px 3.2em;
	text-indent:0;
	background-color: #ece7d2;
}
span.CharterBold_12 {
	color:#231f20;
	font-size:1em;
	font-weight:bold;
}
span.CharterBold_12_8 {
	color:#231f20;
	font-weight:bold;
}
span.CharterBold_15 {
	font-size:1.25em;
	font-weight:bold;
}
span.CharterItalic_12 {
	color:#231f20;
	font-size:1em;
	font-style:italic;
}
span.CharterItalic_12_8 {
	color:#231f20;
	font-style:italic;
}
span.Podpisi {
	color:#231f20;
	font-size:0.875em;
}
span.Sod_Razd {
}
span.Text {
	color:#231f20;
	font-size:0.883em;
}
span.TextbookBold_11_Prop {
	font-size:0.917em;
	font-weight:bold;
}
span.TextbookBold_12 {
	font-family:"PT Sans", sans-serif;
	font-size:1em;
	font-weight:bold;
}
span.Udarenie {
	font-style:italic;
}
span.Znak_vniz {
	font-family:"PT Sans", sans-serif;
	font-size:1.167em;
}
span._idGenCharOverride-1 {
	font-size:1em;
}
span._idGenCharOverride-2 {
	font-size:1em;
}
span._idGenCharOverride-3 {
	font-size:0.955em;
}
div.link_wiki {
	background-color:#FFCCFF;
	border-color:#f9b0db;
	border-width:thin;
	margin:1em 0 1em 0;
	padding:1em 1em 1em 1em;
}
p.link_wiki {
	font-family:"PT Serif", serif;
	font-size:1.067em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0em;
	widows:2;
}
div._idGenPageitem-1 {
	width:23px;
}
div._idGenPageitem-3 {
	text-align:center;
	padding-left: 0;
	padding-right: 0;
}

div.top_head {
	margin-left: -50px;
	margin-right: -50px;
}

div.Koloncifra {
	background-color:#FF99CC;
	/*display:none;*/
	position: absolute;
	padding:6px;
	/*width:25px;*/
	margin-left: -50px;

}

/*.Koloncifra :before {
    content: "стр.";
    clear: right;
    display: block;
}
*/

.fon_top {
background-color: #FF99CC;
margin: 0;
padding: 0;
text-align: center;
}

.ZAG_GLAVA {
margin-top: 0px;
margin-bottom: 10px;
padding-bottom: 10px;
color: #fff;
	-moz-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
}

p.ZAG_GLAVA, h1.ZAG_GLAVA {
    /* font-family: CharterC, serif; */
    font-size: 2.75em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
}


p.ZAG_Voprosy_Zadaniya {
	color:#000000;
	font-family:"PT Sans", sans-serif;
	font-size:0.983em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.169;
	margin-bottom:0;
	margin-left:20px;
	margin-right:0;
	margin-top:70px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
	border-bottom: solid 4px #FF3399;
	padding-bottom: 2px;
}

p.Vopr_Zadaniya_text {
	color:#000000;
	font-size:0.983em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.169;
	margin-bottom:0;
	margin-left:20px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}


div._idGenPageitem-8 {
	background-color:#a62b43;
	width:84px;
}
div._idGenPageitem-9 {
	background-color:#e9d0cc;
	padding:6px 0px 6px 0px;
	width:476px;
}
div._idGenPageitem-17 {
	width:250px;
	display: block;
	margin: 0 auto;
}
div._idGenPageitem-81 {
	background-color:#e9d0cc;
	padding:6px 0px 6px 0px;
	width:478px;
}
div._idGenPageitem-84 {
	background-color:#e9d0cc;
	width:476px;
}
div.znach_yakor_sdvig {
	width: 2.2em;
	float: left;
	vertical-align: text-top;
	margin:0 1em 0 -1em;
}

div.Znachok_yakor {
	width: 2.2em;
	float: left;
	vertical-align: text-top;
	margin:0 1em 0 -1em;
}
img {
	margin-top: 1em;
	margin-bottom: 0.1em;
	width:100%;

}
img.marker {
	margin-bottom: 1em;
	width:7%;
	float: left;
	vertical-align: text-top;
	margin:-0.5em 1em 0 0;
}

img.top_top {
	height:100%;
	min-width:100%;
	width:100%;
}

img._idGenObjectAttribute-1 {
	width:100%;
}

img.small_pict {width: 46px; float: left; margin-top: 0;}

img._idGenObjectAttribute-2 {
	width:83px;
	vertical-align: sub;
	margin: 0;
	/*padding-left: 62%;*/
	float: right;
	margin-top: -50px;
}

img._idGenObjectAttribute-3 {
	width:83px;
	vertical-align: sub;
	margin: 0;
	/*padding-left: 62%;*/
	float: right;
	margin-top: -50px;
}

img._idGenObjectAttribute-4 {
	width:83px;
	vertical-align: sub;
	margin: 0;
	/*padding-left: 62%;*/
	float: right;
	margin-top: -50px;
}
img._idGenObjectAttribute-5 {
	width:83px;
	vertical-align: sub;
	margin: 0;
	/*padding-left: 62%;*/
	float: right;
	margin-top: -50px;
}

img._idGenObjectAttribute-5 {
	width:83px;
	vertical-align: sub;
	margin: 0;
	/*padding-left: 62%;*/
	float: left;
	margin-top: -50px;
}

img.gray {
	width:16px;
	vertical-align: sub;
	margin: 0;
	/*padding-left: 62%;*/
}

.FranklinGothikDemi_11-8_Bold {font-weight: bold;}

img._idGenObjectAttribute-7 {
	width:83px;
	vertical-align: sub;
	margin: 0;
	/*padding-left: 62%;*/
	float: right;
	margin-top: -50px;
}
img._idGenObjectAttribute-8 {
	width:83px;
	vertical-align: sub;
	margin: 0;
	/*padding-left: 62%;*/
	float: right;
	margin-top: -50px;
}
img._idGenObjectAttribute-9 {
	width:83px;
	vertical-align: sub;
	margin: 0;
	/*padding-left: 62%;*/
	float: right;
	margin-top: -50px;
}
img._idGenObjectAttribute-10 {
	width:83px;
	vertical-align: sub;
	margin: 0;
	/*padding-left: 62%;*/
	float: right;
	margin-top: -50px;
}
img._idGenObjectAttribute-11 {
	width:83px;
	vertical-align: sub;
	margin: 0;
	/*padding-left: 62%;*/
	float: right;
	margin-top: -50px;
}
img._idGenObjectAttribute-12 {
	width:83px;
	vertical-align: sub;
	margin: 0;
	/*padding-left: 62%;*/
	float: right;
	margin-top: -50px;
}
img._idGenObjectAttribute-13 {
	width:83px;
	vertical-align: sub;
	margin: 0;
	/*padding-left: 62%;*/
	float: right;
	margin-top: -50px;
}
img._idGenObjectAttribute-14 {
	width:83px;
	vertical-align: sub;
	margin: 0;
	/*padding-left: 62%;*/
	float: right;
	margin-top: -50px;}
img._idGenObjectAttribute-15 {
	width:83px;
	vertical-align: sub;
	margin: 0;
	/*padding-left: 62%;*/
	float: right;
	margin-top: -50px;}
img._idGenObjectAttribute-16 {
	width:83px;
	vertical-align: sub;
	margin: 0;
	/*padding-left: 62%;*/
	float: right;
	margin-top: -50px;
}
img._idGenObjectAttribute-17 {
	width:83px;
	vertical-align: sub;
	margin: 0;
	/*padding-left: 62%;*/
	float: right;
	margin-top: -50px;}
img._idGenObjectAttribute-18 {
	width:83px;
	vertical-align: sub;
	margin: 0;
	/*padding-left: 62%;*/
	float: right;
	margin-top: -50px;}
img._idGenObjectAttribute-19 {
	width:83px;
	vertical-align: sub;
	margin: 0;
	/*padding-left: 62%;*/
	float: right;
	margin-top: -50px;}
img._idGenObjectAttribute-20 {
	width:51.59%;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
div._idGenObjectLayout-2 {
	text-align:left;
}

span.PeterburgC_10_8_Bold {
	font-size:0.9em;
	font-style:normal;
	font-weight:bold;
}
span.PeterburgC_10_8_Bold_Itall {
	font-size:0.9em;
	font-style:italic;
	font-weight:bold;
}
span.PeterburgC_10_8_Itall {
	font-size:0.9em;
	font-style:italic;
	font-weight:normal;
}
span.PeterburgC_10_Bold {
	font-size:0.833em;
	font-style:normal;
	font-weight:bold;
}
span.PeterburgC_11_8_Bold {
	font-size:0.983em;
	font-style:normal;
	font-weight:bold;
}
span.PeterburgC_11_8_Itall {
	font-size:0.983em;
	font-style:italic;
	font-weight:normal;
}
span.PeterburgC_12_8_Bold {
	font-size:1.067em;
	font-style:normal;
	font-weight:bold;
}
span.PeterburgC_12_8_Itall {
	font-style:italic;
	font-weight:normal;
}
span.italik {
	font-style:italic;
	font-weight:normal;
}

p.slova {
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 0.983em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.169;
    margin-bottom: 1em;
    margin-left: 54px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1;
	
}

span.FranklGotMedium_11_8_bold {
    font-family: "PT Sans", sans-serif;
    font-size: 0.983em;
    font-style: normal;
    font-weight: bold;
}

h3.PolosaZag {
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 1.067em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-right: 0;
	padding-left: 40px;
	padding-top: 10px;
    margin-top: 20px;
	padding-bottom: 5px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1;
	width: 30px;
	height: 38px;
	background:  url('../images/left_fon.png') no-repeat;
	background-position:  0 10px;
	border-bottom: solid 4px #FF3399;
	width: 93%;
}

.GLAVKI_2 {font-family: "PT Sans", sans-serif;}

p.PODZAG_plashka {
	color: #000000;
	font-family: "PT Sans", sans-serif;
	font-size: 1.067em;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 0;
	margin-right: 0;
	padding-left: 40px;
	padding-top: 10px;
	margin-top: 20px;
	orphans: 1;
	page-break-after: auto;
	page-break-before: auto;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	text-transform: uppercase;
	widows: 1;
	width: 30px;
	height: 38px;
	background:  url('../images/left_fon.png') no-repeat;
	background-position:  0 10px;
	border-bottom: solid 4px #FF3399;
	width: 93%;
}

.no_upper {text-transform: none;}


.GLAVKI {text-align: center; font-weight: bold; margin-top: 20px; margin-bottom: 20px;}


p.p1 {
    -epub-text-align-last: left;
    color: #000000;
    font-family: SchoolBookC, serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 14px;
    text-transform: none;
    widows: 1;
}

.nalevo {padding-left: 40px;}

.niz_pict {margin-top: -10px; padding-bottom: 20px;}

.stih {
	margin: 0em auto;
	display: table;
	margin-top: 20px;
	margin-bottom: 20px;
	}

.stih p {display: block;
	text-indent: 0;
	/*-webkit-margin-before:0.2em;
	-webkit-margin-after: 0.2em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;*/ }

.PeterburgC_12-8_Italic {text-align: right; font-style: italic;}

.right {text-align: right;}
.center {text-align: center;}

.PeterburgC_12-8_Bold {font-weight: bold}

.itog p {text-indent: 0}

.page p {
	-moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.Normal_2 {
	-moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

/*
.PeterburgC_11-8_razryadka {font-weight: bold;}*/