@font-face {font-family: "PT Serif"; 
	src: url("../fonts/ptf55f_w.eot"); 
	src: local("PT Serif"), url("../fonts/ptf55f_w.eot?#iefix") format("embedded-opentype"), url("../fonts/ptf55f_w.woff") format("woff"),url("../fonts/ptf55f_w.ttf") format("truetype");}

@font-face {font-family: "PT Serif"; 
	font-style: italic;
	src: url("../fonts/ptf56f_w.eot"); 
	src: local("PT Serif Italic"), url("../fonts/ptf56f_w.eot?#iefix") format("embedded-opentype"), url("../fonts/ptf56f_w.woff") format("woff"),url("../fonts/ptf56f_w.ttf") format("truetype");}

@font-face {font-family: "PT Serif";
	src: url("../fonts/ptf75f_w.eot");
	font-style: normal;
	font-weight: bold; 
	src: local("PT Serif Bold"), url("../fonts/ptf75f_w.eot?#iefix") format("embedded-opentype"), url("../fonts/ptf75f_w.woff") format("woff"),url("../fonts/ptf75f_w.ttf") format("truetype");}

@font-face {font-family: "PT Serif";
	font-style: italic;
	font-weight: bold; 
	src: url("../fonts/ptf76f_w.eot"); 
	src: local("PT Serif Bold Italic"), url("../fonts/ptf76f_w.eot?#iefix") format("embedded-opentype"), url("../fonts/ptf76f_w.woff") format("woff"),url("../fonts/ptf76f_w.ttf") format("truetype");}

@font-face {font-family: "PT Sans"; 
	src: url("../fonts/pts55f_w.eot"); 
	src: local("PT Sans"), url("../fonts/PTS55F_W.eot?#iefix") format("embedded-opentype"), url("../fonts/PTS55F_W.woff") format("woff"),url("../fonts/PTS55F_W.ttf") format("truetype");}

@font-face {font-family: "PT Sans"; 
	font-style: italic;
	src: url("../fonts/pts56f_w.eot"); 
	src: local("PT Sans Italic"), url("../fonts/PTS56F_W.eot?#iefix") format("embedded-opentype"), url("../fonts/PTS56F_W.woff") format("woff"),url("../fonts/PTS56F_W.ttf") format("truetype");}

@font-face {font-family: "PT Sans";
	src: url("../fonts/pts75f_w.eot");
	font-style: normal;
	font-weight: bold; 
	src: local("PT Sans Bold"), url("../fonts/PTS75F_W.eot?#iefix") format("embedded-opentype"), url("../fonts/PTS75F_W.woff") format("woff"),url("../fonts/PTS75F_W.ttf") format("truetype");}

@font-face {font-family: "PT Sans";
	font-style: italic;
	font-weight: bold; 
	src: url("../fonts/pts76f_w.eot"); 
	src: local("PT Sans Bold Italic"), url("../fonts/PTS76F_W.eot?#iefix") format("embedded-opentype"), url("../fonts/PTS76F_W.woff") format("woff"),url("../fonts/PTS76F_W.ttf") format("truetype");}

