html, body {
	padding-top: 0em;
	padding-bottom: 2em;
	scrollbar-3dlight-color:    #b9bdc5;
	font-size: 1.0em;

	/*font: inherit;*/
	vertical-align: baseline;

	font-family: "Arial";
	color: #000;

	scrollbar-arrow-color:      #92a1be;
	scrollbar-highlight-color:  #cbd2e2;
	scrollbar-face-color:       #cbd2e2;
	scrollbar-shadow-color:     #cbd2e2;
	scrollbar-darkshadow-color: #979ca5;
	scrollbar-track-color:      #e6e6de;
	margin-left: 0px;
	margin-right: 0px;

/*	-ms-backface-visibility:     hidden;*/
}

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {

vertical-align: baseline; 
}

p.Par {
	background:#ead1cb;
	line-height:1.156;
	padding: .5em 0 .5em 0;
	/*margin: 1em 0 0 0;*/
	font-weight:bold;
	text-align:center;
	text-indent:0;
	text-transform:uppercase;
	-moz-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
}
