.tooltipster-noir {
	border-radius: 0px; 
	border: 3px solid #2c2c2c;
	background: #fff;
	color: #2c2c2c;
}
.tooltipster-noir .tooltipster-content {
	/*font-family: 'Georgia', serif;*/
	font-size: 18px;
	line-height: 16px;
	padding: 8px 10px;
}

.my-tooltip {
	background: #dddddd;
	font-size: 0.8em;
	border: 0 solid #ff44a2;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	-khtml-border-radius: 2px 2px 2px 2px;
	vertical-align: super;
	padding-left: 1px;
	display: inline-block;
	padding-right: 1px;
	line-height: 1;
	text-align: left;
	text-indent: 0;
	font-weight: bold;
}
