/* Стили для книжки */

/* общие классы */
.cp-button {
    /* reset */
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 46px;
    cursor: pointer;
    background-color: rgba(204, 204, 204, 1);
    line-height: 42px;
    font-size: 30px;
    color: #fff!important;
    text-align: center;
    transition: width 0.3s;
}

.cp-button.button-disabled{
    background-color: rgb(148, 146, 146);
}

.cp-button.cp-button-active
{
    /* background-color: pink; */
}

/* сжимаем кнопки что бы влезли в панель */
@media screen and (orientation: landscape)
{
    .cp-button
    {
        width: 80px;
    }
}

@media screen and (orientation: portrait)
{
    .cp-button
    {
        width: 50px;
    }
}

.cp-button-container {
     position: fixed;
     bottom: 0;
     width: 50%;
      left: 25%;
     /*height: 46px;*/
     text-align: center;
    z-index: 99999999;
}

#close-media-object {
    text-indent: initial;
    color: #333;
    border-radius: 5px;
    background-color: #888;
    width: auto;
    margin: 5px;
    height: 35px;
    padding: 0 5px;
    font-size: 16px;
    line-height: 35px;
    text-shadow: none;
}

.js #features
{
    margin-left: -12000px; width: 100%;
}

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100500;
    opacity: 0.9;
    background: rgb(0, 0, 0);
}

#page-preloader .spinner {
    width: 128px;
    height: 128px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -64px 0 0 -64px;
    color: #C7C7C7;
    text-align: center;
    font-size: 28px;
    text-shadow: 0 0 1px #fff;
}

html, body, #page {
    background: white;
}

#media-object {
    position: fixed;
    width: 100%;
    height: 100% !important;
}

iframe {
    /*height: 100%;*/
    /*overflow: hidden;*/
}

.media-object-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999998;
    background: #fff;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#media-object {
    width: 100%;
    height: 100%;
}

.overhide {
    overflow: hidden;
}

/*.media-object-remove {*/
    /*display: block;*/
    /*width: 200px;*/
    /*padding: 5px;*/
    /*box-sizing: border-box;*/
    /*background: deepskyblue;*/
    /*border-radius: 5px 5px 0 0;*/

    /*-webkit-box-shadow: 0 -5px 16px -2px rgba(0,0,0,0.34);*/
    /*-moz-box-shadow: 0 -5px 16px -2px rgba(0,0,0,0.34);*/
    /*box-shadow: 0 -5px 16px -2px rgba(0,0,0,0.34);*/

    /*position: absolute;*/
    /*left: 50%;*/
    /*margin-left: -100px;*/
    /*bottom: 0;*/
    /*z-index: 1000;*/

    /*cursor: pointer;*/

    /*color: #fff;*/
    /*font: 22px Arial;*/
    /*font-weight: 700;*/
    /*text-align: center;*/
/*}*/

