* {
    margin: 0;
    padding: 0;
}

body, html {
    overflow:hidden;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

canvas{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    outline: none;
    /*-webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
    -webkit-tap-highlight-color: transparent;
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;
    margin:0;
    padding:0;
}

body {
    width: 100%;
    height: 95%;
    overflow: auto;
    margin: 0 auto;
    padding-bottom: 2em;
}



#stageContainer {
    width: 90%;
    height: 70%;
    margin: 2% auto;
}

.dop_img {
    display: block;
    margin: 0 auto;
}
.dop_txt {
    display: block;
    margin: 0 auto;

    text-align: center;
    padding: 10px 0 0;
    font: 16px Arial;
}
.dop_border {
    position: absolute;
    box-sizing: border-box;

    left: 50%;
    top: 5px;
    border: 2px solid #97c25a;
    border-radius: 20px;
    z-index: 0;
}

@media only screen and (orientation : landscape) {
    .smallScreen .imgLand.nowider .dop_img {
        height: 100%;
        width: auto;
    }
    .smallScreen .imgLand.wider .dop_img {
        width: 100%;
        height: auto;
    }

    .smallScreen .imgPort.wider .dop_img {
        height: 100%;
        width: auto;
    }
    .smallScreen .imgPort.nowider .dop_img {
        height: 100%;
        width: auto;
    }
}
@media only screen and (orientation : portrait) {
    .smallScreen .imgLand.nowider .dop_img {
        width: auto;
        height: auto;
    }
    .smallScreen .imgLand.wider .dop_img {
        width: 100%;
        height: auto;
    }
    .smallScreen .imgPort.wider .dop_img {
        width: 100%;
        height: auto;
    }
    .smallScreen .imgPort.nowider .dop_img {
        height: 100%;
        width: auto;
    }
}