* {
    margin: 0;
    padding: 0;
}

body, html {
    overflow:hidden;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

canvas{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    outline: none;
    /*-webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
    -webkit-tap-highlight-color: transparent;
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;
    margin:0;
    padding:0;
}

body {
    overflow:hidden;
    padding-top: 20px;
}

.slider__wrapper{
    border: 1px solid darkgrey;
}
.slider__window{
    width:100%;
    height: 83.5%;
    margin: 0 auto;

    position: relative;
    overflow: hidden;
}

.slider__window-item {
    height:100%;
    width: 100%;
    position: absolute;

    top: -1500px;

    text-align: center;
    vertical-align: middle;
    overflow: hidden;

    transition: all ease 1.8s;
    z-index: 0;
    cursor: pointer;
}

/*.slider__window-item:before {*/
    /*display: inline-block;*/
    /*margin-left: -1px;*/
    /*height: 100%;*/
    /*width: 0;*/
    /*vertical-align: middle;*/
    /*content: '';*/
/*}*/

.slider__window-item img {
    display: inline-block;
    vertical-align: middle;
}

.slider__window-item img.horizontal {
    height: auto;
    width: 100%;
}
.slider__window-item img.vertical {
    height: 100%;
    width: auto;
}

.slider__window-item.active {
    top: 0;
    z-index: 1;
}

.slider__item-text {
    color: #fff;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
    background: rgba(0,0,0,.4);

    font: 22px Arial;
}

.slider__thumbs{
    width: 59%;
    height: 15%;
    margin: 0 auto;
    position: relative;
}


.slider__thumbs-prev,
.slider__thumbs-next {
    position:absolute;
    top: 12%;
    width: 10%;
    height: 59%;

    background: url(../assets/skin/hd/navigationArrow.png?123) no-repeat 0 0/auto 100%;
    cursor: pointer;
}
.slider__thumbs-prev{
    left:0;
}
.slider__thumbs-next{
    right:0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

.slider__thumbs-window{
    display: block;
    width: 71%;
    height: 82%;
    margin: 2% auto 0;
    position: relative;
    overflow: hidden;
}

.slider__thumbs-container{
    width: 9999px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: left ease .2s;
}

.slider__thumbs-item {
    display: block;
    float: left;
    height: 100%;
    margin: 0 2%;

    text-align: center;
    overflow: hidden;

    box-sizing: border-box;
    position: relative;

    cursor: pointer;
}

.slider__thumbs-item.active:after {
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid dodgerblue;
    box-sizing: border-box;

    position: absolute;
    left: 0;
    top: 0;

    content: '';
}

.slider__thumbs-item img {
    height: 100%;
    width: auto;
}